<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFvT5QSTN5BqliE4jd_3tHQNiKATd_0vA</string>
	<key>GCM_SENDER_ID</key>
	<string>546064424992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.et3amappios.eqmsapp</string>
	<key>PROJECT_ID</key>
	<string>et3am-ca94c</string>
	<key>STORAGE_BUCKET</key>
	<string>et3am-ca94c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546064424992:ios:d771da6ebe017fc532dc45</string>
</dict>
</plist>